@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Welcome to University of Student Debt</h2>
        <p>
            Our mission is to provide people with a quality education at a premium price.
            We offer many courses and have a wide selection of Instructors.
            We are here to make your career and bussiness goals possible through education.
            Get tens of thousands of dollars in debt or more!
        <p><a class="btn btn-default" asp-area="" asp-controller="Home" asp-action="Privacy">Enroll Now &raquo;</a></p>
        </p>
    </div>
    <div class="col-md-6">
        <h2> Debt that lasts</h2>
        <figure>
            <img src="~/Images/University.jpg" alt="Image of University" />
            <figcaption>Come see us soon!</figcaption>
        </figure>
    </div>
    <div class="col-md-12">
        <h2>Hang out with random students</h2>
        <figure>
            <img src="~/Images/Students.jpg" alt="Image of Students" />
            <figcaption>There are thousands of people here to study with!</figcaption>
        </figure>
    </div>
</div>
