@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>Contact Us</h2>


<p>If you have any questions, or want to give us some feedback, Let us know!<br /> Click below to send us an email.</p>

<address>
    123 Sesame Street<br />
    BusyTown, ID 12345<br />
    <abbr title="Phone">P:</abbr>
    123.456.7891
</address>
<email address="info@@UniversityOfStudentDebt.edu" content="Contact us"></email></p>
